In [5]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

Carregando o dataframe

In [6]:
df = pd.read_csv('data/healthcare-dataset-stroke-data.csv')
df.dropna(inplace=True)
df.replace(0, -1, inplace=True)
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,-1,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,31112,Male,80.0,-1,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,-1,-1,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,-1,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,-1,-1,Yes,Private,Urban,186.21,29.0,formerly smoked,1

In [7]:
# bmi
# https://www.cdc.gov/obesity/basics/adult-defining.html#:~:text=If%20your%20BMI%20is%20less,falls%20within%20the%20obesity%20range.
bmi = df['bmi']

df['underweight'] = bmi< 18.5
df['healthy_weight'] = (18.5 <= bmi) & (bmi < 25)
df['overweight'] = (25 <= bmi) & (bmi < 30)
df['obesity'] = 30 <= bmi


# avg_glucose_level
# https://www.cdc.gov/diabetes/basics/getting-tested.html#:~:text=A%20fasting%20blood%20sugar%20level,higher%20indicates%20you%20have%20diabetes.
glucose = df['avg_glucose_level']
df['normal'] = glucose <= 99
df['prediabetes'] = (100 <= glucose) & (glucose <=125)
df['diabetes'] = 126 <= glucose

# age 
age = df['age']
df['children'] = age <= 12
df['teen'] = (13<=age ) & (age<=19)
df['adult'] = (20 <=age) & (age<=39)
df['middle_age'] = (40<=age) & (age<=59)
df['senior'] = 60 <= age 
df.head(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,...,overweight,obesity,normal,prediabetes,diabetes,children,teen,adult,middle_age,senior
0,9046,Male,67.0,-1,1,Yes,Private,Urban,228.69,36.6,...,False,True,False,False,True,False,False,False,False,True
2,31112,Male,80.0,-1,1,Yes,Private,Rural,105.92,32.5,...,False,True,False,True,False,False,False,False,False,True
3,60182,Female,49.0,-1,-1,Yes,Private,Urban,171.23,34.4,...,False,True,False,False,True,False,False,False,True,False
4,1665,Female,79.0,1,-1,Yes,Self-employed,Rural,174.12,24.0,...,False,False,False,False,True,False,False,False,False,True
5,56669,Male,81.0,-1,-1,Yes,Private,Urban,186.21,29.0,...,True,False,False,False,True,False,False,False,False,True
6,53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,...,True,False,True,False,False,False,False,False,False,True
7,10434,Female,69.0,-1,-1,No,Private,Urban,94.39,22.8,...,False,False,True,False,False,False,False,False,False,True
9,60491,Female,78.0,-1,-1,Yes,Private,Urban,58.57,24.2,...,False,False,True,False,False,False,False,False,False,True
10,12109,Female,81.0,1,-1,Yes,Private,Rural,80.43,29.7,...,True,False,True,False,False,False,False,False,False,True
11,12095,Female,61.0,-1,1,Yes,Govt_job,Rural,120.46,36.8,...,False,True,False,True,False,False,False,False,False,True

In [8]:
X = df.drop(['id', 'stroke', 'age', 'bmi', 'avg_glucose_level'], axis=1)


y = df['stroke']
y = y.astype('float64')

# Convertendo os dados categóricos em numéricos
X = pd.get_dummies(X, dtype=int)
X.replace(False, -1, inplace=True)
X.replace(True, 1, inplace=True)
X.replace(0, -1, inplace=True)
X = X.astype('float64')

# Separando linhas de dados em treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.5)
X_train,  X_test = X_train.to_numpy().T,  X_test.to_numpy().T
y_train = y_train.to_numpy()
y_test = y_test.to_numpy()

In [9]:
X.head()

,hypertension,heart_disease,underweight,healthy_weight,overweight,obesity,normal,prediabetes,diabetes,children,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,-1.0,1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,1.0,-1.0,...,-1.0,1.0,-1.0,-1.0,-1.0,1.0,-1.0,1.0,-1.0,-1.0
2,-1.0,1.0,-1.0,-1.0,-1.0,1.0,-1.0,1.0,-1.0,-1.0,...,-1.0,1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,1.0,-1.0
3,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,1.0,-1.0,...,-1.0,1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,1.0
4,1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,...,-1.0,-1.0,1.0,-1.0,1.0,-1.0,-1.0,-1.0,1.0,-1.0
5,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,1.0,-1.0,...,-1.0,1.0,-1.0,-1.0,-1.0,1.0,-1.0,1.0,-1.0,-1.0

In [10]:
def accuracy(y_test, y_est):
    return np.mean(np.sign(y_test)==np.sign(y_est))

In [11]:
df_rotulo = y_train
df_features = X_train.T

In [12]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier(criterion='entropy')

# Agora, vamos usar o método .fit() para ajustar os parâmetros da árvore:
tree.fit(df_features, df_rotulo)

# Podemos visualizar a árvore de decisão em uma figura!
from sklearn.tree import plot_tree
import matplotlib.pyplot as plt

# plt.figure( figsize=(20,20) )
# a = plot_tree(tree, feature_names=df_features.columns, fontsize=15, 
#               node_ids=False, impurity=False, filled=True)

In [13]:
def accuracy(y_test, y_est):
    return np.mean(np.sign(y_test)==np.sign(y_est))

In [14]:
w = tree.feature_importances_
y_est = w.T @ X_test 
print(accuracy(y_test, y_est))

0.9462321792260693

In [15]:
df_ =pd.DataFrame()
df_['features'] = X.columns
df_['peso'] = w
df_.sort_values(by='peso', inplace=True, ascending=False)
df_.head(30)

                          features      peso
13                          senior  0.162564
0                     hypertension  0.064160
15                     gender_Male  0.062413
1                    heart_disease  0.061423
8                         diabetes  0.061081
4                       overweight  0.057150
12                      middle_age  0.050262
22         work_type_Self-employed  0.047927
28     smoking_status_never smoked  0.046633
7                      prediabetes  0.039614
29           smoking_status_smokes  0.038001
27  smoking_status_formerly smoked  0.037477
25            Residence_type_Urban  0.036743
24            Residence_type_Rural  0.035731
19              work_type_Govt_job  0.035496
21               work_type_Private  0.030373
6                           normal  0.028042
17                 ever_married_No  0.025773
3                   healthy_weight  0.021296
26          smoking_status_Unknown  0.015936
18                ever_married_Yes  0.014054
5                          obesity  0.012227
14                   gender_Female  0.011405
2                      underweight  0.004218
20          work_type_Never_worked  0.000000
23              work_type_children  0.000000
11                           adult  0.000000
10                            teen  0.000000
9                         children  0.000000
16                    gender_Other  0.000000